<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charSet="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>🧻 Lege Rol 🧻</title>
		<style>
			html {
				background-color: black;
				color: white;
				font-family: sans-serif;
			}

			body, figure {
				margin: 0;
			}

			header {
				text-align: center;
				padding: 0 1.45em;
			}

			p {
				margin: 0;
				line-height: 1.45em;
			}

			p + p {
				margin-top: 1.45em;
			}

			.photogrid {
				margin: 0;
				padding: 0;
				list-style: none;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			}

			figure {
				position: relative;
				aspect-ratio: 1;
			}

			figcaption {
				position: absolute;
				right: 5px;
				bottom: 5px;
				border-radius: 8px;
				padding: 5px 10px;
				background-color: #0000005e;
				font-size: 0.8875em;
			}

			img {
				display: block;
				max-width: 100%;
			}

			footer {
				text-align: center;
				padding: 1.45em;
			}
		</style>
	</head>

	<body>
		<header>
			<h1>🧻 Lege Rol 🧻</h1>
		</header>

		<main>
			<ol class="photogrid">
			{% for rol in collections.rollen %}
				<figure>
					<img src="{{ rol.path }}" alt=""/>
					<figcaption>{{ rol.takenAt | date: '%Y-%m-%d' }}</figcaption>
				</figure>
			{% endfor %}
			</ol>
		</main>
		<footer>
			<p>Wees lief voor de volgende en vervang de lege WC rol 🤍</p>
			<p>Begonnen uit frustratie, gemaakt met plezier en liefde door <a href="https://joeri.me">Joeri</a></p>
		</footer>
	</body>
</html>
